doctype html
html(ng-app="#{angularApp}")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    if flash
      div.alert.alert-warning #{flash}
    block content
